html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  z-index: 1;
}

#topNavBar {
  color: #000;
  z-index: 3;
  width: 100%;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-out;
}

#topNavBar.sticky {
  padding: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 1);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
}

#topNavBar .welcome {
  font-size: 14px;
  color: #323A40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 62.5%;
  margin: 0 auto;
  word-break: keep-all;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62.5%;
  margin: 0 auto;
}

nav img {
  padding: 8px 0;
}

nav .munu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-right: -15px;
}

nav .munu li {
  height: 76px;
}

nav .munu li a {
  padding: 0 33px;
  font-size: 0.09375rem;
  color: #333;
  text-decoration: none;
  word-break: keep-all;
  position: relative;
  height: 74px;
  display: block;
  line-height: 72px;
}

nav .munu li a:hover {
  color: #1190FF;
}

nav .munu li:hover::after {
  content: "";
  width: 74px;
  height: 3px;
  background-color: #1190FF;
  margin: 0 auto;
  display: block;
}

nav .munu li .active {
  color: #1190FF;
  padding: 0 33px;
  font-size: 0.09375rem;
  text-align: center;
  text-decoration: none;
  word-break: keep-all;
  position: relative;
  height: 74px;
  display: block;
  line-height: 74px;
}

nav .munu li .active::after {
  content: "";
  width: 74px;
  height: 3px;
  background-color: #1190FF;
  margin: 0 auto;
  display: block;
}
footer {
  background: #232730;
  height: 1.97917rem;
  color: #fff;
  line-height: 0.10938rem;
  position: relative;
  width: 100%;
}

footer .info {
  margin: 0 auto;
}

footer table {
  word-break: break-all;
  table-layout: fixed;
  margin-left: 18.75%;
  width: 3.64583rem;
  vertical-align: middle;
  /* border: 1px solid #fff; */
}

/* footer table td{
      border: 1px solid #fff;
  } */
footer table a {
  text-decoration: none;
  color: #fff;
  height: 42px;
  display: inline-block;
}

footer table tr:first-child {
  font-size: 0.07292rem;
}

footer table tr:not(:first-child) a {
  font-size: 0.07292rem;
  color: #707980;
}

footer table tr:first-child td {
  padding: 0.18229rem 0 0.10417rem;
}

footer table tr td:nth-child(1) {
  width: 0.625rem;
}

footer table tr td:nth-child(2) {
  width: 0.75521rem;
}

footer table tr td:nth-child(3) {
  width: 0.625rem;
}

footer table tr td:nth-child(4) {
  width: 0.625rem;
  padding-left: 0.20833rem;
}

footer table tr td:nth-child(5) {
  width: 0.75521rem;
}


footer .companyInfo img {
  position: absolute;
  top: 0.15625rem;
  left: -13%;
  top: 2%;
  width: 0.19792rem;
}

footer .companyInfo {
  margin-top: 0.125rem;
  margin-left: 0.72917rem;
  position: relative;
}

footer .companyInfo p:nth-child(2) {
  font-size: 0.13542rem;
  font-family: FZLTTHK--GBK1-0;
  font-weight:bold;
  line-height: 0;
}

footer .companyInfo p:nth-child(3) {
  font-size: 0.08333rem;
  font-family: FZLTTHK--GBK1-0;
  font-weight:bold;
  line-height: 0;
}

footer .companyInfo p:nth-child(5) {
  font-size: 0.10417rem;
  line-height: 0.10938rem;
  border-bottom: 3px solid #fff;
  padding-bottom: 0.02083rem;
  margin-right: 0.88542rem;
}

footer .companyInfo p:nth-child(7),
footer .companyInfo p:nth-child(9) {
  font-size: 0.0625rem;
  line-height: 0;
}

footer .filing {
  position: absolute;
  bottom: 0px;
  left: 18%;
  color: #707980;
}