<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品及解决方案</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product-detail.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        var pageWidth = window.innerWidth
        document.write('<style>html{font-size:' + pageWidth / 10 + 'px;}</style>')
    </script>
</head>
<style>
</style>

<body>
    <header>
        <div id="topNavBar">
            <div class="welcome">
                <span>欢迎您光临深圳市财富万方信息技术有限公司！</span>
                <span>咨询热线：<span style="color: #0088FF">0633-2296691</span></span>

            </div>
            <nav>
                <img src="../img/index/logo.png" alt="logo">
                <ul class="munu">
                    <li><a href="./index.html">首页</a></li>
                    <li><a href="./about.html">关于才宝</a></li>
                    <li><a href="./product.html" class="active">产品及解决方案</a></li>
                    <li><a href="./case.html">典型案例</a></li>
                    <li><a href="./cooperation.html">合作共赢</a></li>
                    <li><a href="./download.html">在线下载</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="bannerNavWrap">
                <ul class="bannerNav">
                    <li class="tagetSystem">全自动录播系统</span>
                    <li class="systemItem"> <a href="./product-detail-1.html">全自动录播系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-2.html">自定义录课系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-3.html">同步课堂系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-4.html">直播课堂系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-5.html">校园电视台系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-6.html">视频会议系统</a></li>
                    <li class="systemItem"> <a href="./product-detail-7.html">微课录制系统</a></li>
                </ul>
            </div>
            <img src="../img/product/full_automatic_recording_banner.png" alt="">
        </div>
        <div class="content">
            <div class="title">全自动录播系统</div>
            <div class="text">
                <p>
                    才宝全自动录播系统安装便捷，操作简单，实时采集教师、学生摄像机及VGA信号，后台静默编码生成视频文件，不影响正常的上课活动；系统支持三分屏自动录课模式，主画面镜头随师生活动情景实时跟踪、自动切换；亦可人工干预切换主画面或进行电影模式录制。保存的视频自带剪辑工具，可预览、剪辑，一站式完成，即录即传。
                </p>
                <p>
                    视频采用H.264编码方式，音频采用AAC高清编码方式。录制出的视频分辨率为1080P高清视频，视频帧率达到25帧/秒及以上，视频体积占用小，40分钟视频，占用大小控制在300MB以内。录制的视频，音画同步，流畅，不卡顿，系统可实现数字混音功能，支持多路通道混音输出，支持对各通道音频信号进行数字降噪处理，实现干净清晰的音频录制效果。该系统便于名师优课录制和优质资源共享。
                </p>
            </div>
            <img src="../img/product/full_automatic_recording.png" alt="">
        </div>
    </main>
    <footer>
        <div class="info clearfix">
            <table class="fl">
                    <tr>
                            <td><a href="./about.html">关于才宝</a> </td>
                            <td><a href="./product.html">产品及解决方案</a></td>
                            <td><a href="./case.html">典型案例</a> </td>
                            <td><a href="./cooperation.html">合作共赢</a> </td>
                            <td><a href="./download.html">在线下载</a> </td>
                        </tr>
                        <tr>
                            <td><a href="./about.html#introduction">公司简介</a></td>
                            <td><a href="./product.html#mode">信息化模式概述</a></td>
                            <td><a href="./case.html?targetid=1">朝阳小学应用普及模式</a></td>
                            <td><a href="./cooperation.html#1">市场分析</a></td>
                            <td><a href="./download.html">Windows版下载</a></td>
                        </tr>
                        <tr>
                            <td><a href="./about.html#honor">资质荣誉</a></td>
                            <td><a href="./product.html#videoSystem">录播系统</a></td>
                            <td><a href="./case.html?targetid=2">中楼镇中心小学带村小“1+N模式”</a></td>
                            <td><a href="./cooperation.html#2">收益分析</a></td>
                            <td><a href="./download.html">Android版下载</a></td>
                        </tr>
                        <tr>
                            <td><a href="./about.html#history">公司大事记</a></td>
                            <td><a href="./product.html#system">平台与应用</a></td>
                            <td><a href="./case.html?targetid=3">开发区中学教育信息化模式</a></td>
                            <td><a href="./cooperation.html#3">代理商体系</a></td>
                            <td><a href="./download.html">IOS下载</a></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><a href="./product.html#app">应用系统</a></td>
                            <td><a href="./case.html?targetid=4">日照市区整体教育化模式</a></td>
                            <td><a href="./cooperation.html#4">政策支持</a></td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td></td>
                            <td><a href="./case.html?targetid=5">牡丹区教研体系应用模式</a></td>
                            <td><a href="./cooperation.html#5">招商联系</a></td>
                            <td> </td>
                        </tr>
            </table>
            <div class="companyInfo fl">

                <p>全国统一客服热线</p>
                <p>0633-2296691</p>
                <p>客服QQ群：239442186</p>
                <p>（周一至周六 07：30-21：00）</p>
                <p>才宝· 中国分布城市</p>
                <p>中国 · 深圳 · 总部</p>
                <p>地址：深圳市福田区南园路68号上步大厦11楼B、C、D</p>
                <p>中国 · 山东· 分公司</p>
                <p>地址：山东省日照市东港区高新六路高新区创业中心1#研发楼12楼
                </p>
                <img src="../img/index/phone.png" alt="">
            </div>
        </div>
        <div class="filing">@深圳市财富万方信息技术有限公司 粤ICP备16002487号-2</div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>
    $(".item").each(function () {
        $(this).hover(function () {
            $(this).children("p").css("color", "#0080FF")
        }, function () {
            $(this).children("p").css("color", "#111111")
        })
    })
    $("li").each(function () {
        $(this).click(function () {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
            let id = $(this).attr("data-id")
            console.log(id);

            if (id == 1) {
                console.log(id);
                $(".content-first").show()
                $(".content-second").hide()
                $(".content-thrid").hide()
            } else if (id == 2) {
                console.log(id);
                $(".content-first").hide()
                $(".content-second").show()
                $(".content-thrid").hide()
            } else {
                console.log(id);
                $(".content-first").hide()
                $(".content-second").hide()
                $(".content-thrid").show()
            }

        })
    })
</script>

</html>